/************************** ANIMATION DU LOADER **************************/
.loader {
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-right: 5px;
    background-color: rgb(60, 60, 60);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: wait;
    opacity: 1;
    -webkit-animation: anim ease-out 0.8s forwards 2.5s;
    -moz-animation: anim ease-out 0.8s forwards 2.5s;
    -o-animation: anim ease-out 0.8s forwards 2.5s;
    -ms-animation: anim ease-out 0.8s forwards 2.5s;
    animation: anim ease-out 0.8s forwards 2.5s;

}

@-webkit-keyframes anim {
    0% {
        margin-bottom: 900px;
        opacity: 1;
    }

    100% {
        margin-bottom: 80px;
        opacity: 0;
    }
}

@-moz-keyframes anim {
    0% {
        margin-bottom: 900px;
        opacity: 1;
    }

    100% {
        margin-bottom: 80px;
        opacity: 0;
    }
}

@-o-keyframes anim {
    0% {
        margin-bottom: 900px;
        opacity: 1;
    }

    100% {
        margin-bottom: 80px;
        opacity: 0;
    }
}

@-ms-keyframes anim {
    0% {
        margin-bottom: 900px;
        opacity: 1;
    }

    100% {
        margin-bottom: 80px;
        opacity: 0;
    }
}

@keyframes anim {
    0% {
        margin-bottom: 900px;
        opacity: 1;
    }

    100% {
        margin-bottom: 80px;
        opacity: 0;
    }
}

.loader img {
    width: 200px;
    height: 200px;
    margin-left: 17px;
    margin-bottom: 80px;
    animation: down ease 1.2s forwards 2.1s;
    opacity: 0;
}

@keyframes down {
    0% {
        padding-bottom: 900px;
        opacity: 0;
    }

    100% {
        padding-bottom: 280px;
        opacity: 1;
    }
}

.letter:nth-child(1) {
    animation-delay: 0.1s;
    width: 260px;
    height: 260px;
}

.letter:nth-child(2) {
    animation-delay: 0.3s;
    width: 220px;
    height: 220px;
    margin-bottom: 60px;
}

.letter:nth-child(3) {
    animation-delay: 0.5s;
}

.letter:nth-child(4) {
    animation-delay: 0.7s;
}


/************************** ANIMATION page A Propos **************************/

.about__page .collapse {

    animation-duration: 1200ms;
    animation-delay: 5ms;
    animation-name: glissement;
}

@keyframes glissement {
    from {
        margin-bottom: 35%;
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

/*====================================================================*/

@media screen and (max-width: 928px) {
    .loader img {
        width: 85px;
        height: 85px;
        margin-left: 7.22px;
        margin-bottom: 180px;
    }

    .letter:nth-child(1) {
        width: 110.5px;
        height: 110.5px;
    }

    .letter:nth-child(2) {
        width: 93px;
        height: 93px;
        margin-bottom: 170px;
    }

}